

<% if @movement.errors.any? %>
        <h5 class="error"><%= @movement.errors.full_messages.to_sentence %></h5>
<% end %>


<%= form_with model: @movement, local: true do |f| %>
    <%= f.label :name, "Movement Name" %>
        <%= f.text_field :name, class: @movement.errors.any? ? "error-field" : nil %><br /><br />
    <%= f.label :yr_started, "Movement Began" %>
        <%= f.number_field :yr_started %><br /><br />
    <%= f.label :description, "Movement Description" %>
        <%= f.text_area :description %><br /><br />
            <h4>Would you link a protest to this movement?</h4>
            <%= f.fields_for :protests do |p| %>
                <%= p.label :name, "Protest Name" %>
                    <%= p.text_field :name %>
                <%= p.label :location, "Protest Location" %>
                    <%= p.text_field :location %>
                <%= p.label :date, "Protest Date" %>
                    <%= p.text_field :date %>
                <%= f. hidden_field :user_id, value: @user.id %>

            <% end %>
     <%= f.submit %>
<% end %>

