

<body class="w3-container">
    
    <h4><b><%= @movement.name %></b></h4>
        <blockquote class="w3-text-black"><%= @movement.description %></blockquote>
        <hr><h5><b>Upcoming Demonstrations:</b></h5>
            <% @movement.protests.each do |p| %>
              <p class="w3-text-black"><%=link_to p.name, movement_protest_path(p) %></p>
        <% end %>
    <div class="w3-center">
        <iframe src="https://giphy.com/embed/2kP5J5IwXHwowkjema" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class=" w3-bottomleft">
    <!-- if current_user.id == @movement.user_id -->
        <h6><%= link_to 'Edit Movement', edit_movement_path(@movement) %></h6>
        <h6><%= link_to "Delete Movement", @movement, method: :delete, data:{confirm: "Do you really want to delete me?"} %></h6>
    <!-- end -->
    </div>

</body>
 <!-- I only want the user to see the edit/delete links if the movement belongs to them -->



