<h5>Change starts with the first step...</h5>

<body class="w3-container">
    
    <h4><b><%= @movement.name %></b></h4>
        <blockquote><%= @movement.description %></blockquote>
        <blockquote><%= @movement.protests %></blockquote>

<iframe src="https://giphy.com/embed/3ohjVabojNBmsqeqg8" width="380" height="260" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/heyarnold-hey-arnold-nicksplat-3ohjVabojNBmsqeqg8">via GIPHY</a></p>

<li><%= link_to 'Edit Movement', edit_movement_path(@movement) %></li>
<li><%= link_to 'Delete Movement', edit_movement_path(@movement) %></li>


</body>




