

<body class="w3-container">
    
    <h4><b><%= @movement.name %></b></h4>
        <blockquote><%= @movement.description %></blockquote>
         <% @movement.protests.each do | p | %>
            <p><%= p.name %></p>
            <p><%= p.location %></p>
            <p><%= p.date %></p>
        <% end %>

<iframe src="https://giphy.com/embed/3ohjVabojNBmsqeqg8" width="380" height="260" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/heyarnold-hey-arnold-nicksplat-3ohjVabojNBmsqeqg8">via GIPHY</a></p>

<li><%= link_to 'Edit Movement', edit_movement_path(@movement) %></li>
<h6><%= link_to "Delete Movement", @movement, method: :delete, data:{confirm: "Do you really want to delete me?"} %></h6>


</body>




