<% if @protest.errors.any? %>
        <h5 class="error"><%= @protest.errors.full_messages.to_sentence %></h5>
<% end %>


<%= form_with model: [@movement, @protest], local: true do |f| %>
    <%= f.label :name, "Protest Name" %>
        <%= f.text_field :name, class: @protest.errors.any? ? "error-field" : nil %><br /><br />
    <%= f.label :location, "Protest Location" %>
        <%= f.text_field :location %><br /><br />
    <%= f.label :date, "Protest Date" %>
        <%= f.datetime_field :date %><br /><br />
    <%= f.submit %>
<% end %>
