<div class="w3-small">
    <% if user_signed_in? %>
    <p><%= link_to 'Edit My Account', edit_user_registration_path %></p>
    <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
    <p><%= link_to 'Back to Home', root_path %></p>

    <% else %>
        <p><%= link_to 'Sign In', new_user_session_path %></p>
        <p><%= link_to 'Sign Up', new_user_registration_path %></p>
    <% end %>
</div>